<% include partials/header %>

	<div class="headDiv">
	
		<p class="banner">TECHNOLOGY SOLUTIONS</p>
		
        <a href="/"><button id="homeLogin">BACK</button></a>

	</div>
	
	<div class="gadminContent">
		
		<h1 class="gadminHeader">SUPER USER<br>Credentials</h1>
		
		<p class="gadminP"><span class="tab">Please</span> fill out the form below
		
		and your credentials will automatically be created. </p>
		
		
	<form action="https://formspree.io/atxjdc@gmail.com" method="POST" class="form">
      
      <input type="text" name="name" placeholder="  Name" class="formData">
      
      <br><br>
      
      <input type="text" name="_replyto" placeholder="  E-mail" class="formData"/>
    
           <p class="gadminP2">
               
               <span class="tab">Explain</span> why you have decided to take
               this prestigious next step in life:
               
           </p>
           
           <br>
      
      <textarea rows="10" cols="50" name="message" placeholder=
      
      "" 
      
      class="formDataMessage">
        
      </textarea>
    
        <br><br>
      
      <input type="submit" value="SEND" class="button" id="bttn">
    
      <input type="hidden" name="_next" value="/" />
    
      <input type="hidden" name="_subject" value="New submission!" />
    
      <input type="text" name="_gotcha" style="display:none" />
      
    </form>
    
    <p class="gadminP"><span class="tab">After</span> you submit the form
    
    you will have full super user power at the world wide internet.</p>
		
			<p class="gadminP"><span class="tab">If</span> your credentials do not
	arrive within 90 days open your favorite browser and perform a 
	basic search, if that search returns any value at all you win at the internet. </p>
		
	</div>
	
<% include partials/footer %>