<% include partials/header %>

	<div class="headDiv">
	
		<p class="banner">TECHNOLOGY SOLUTIONS</p>
		
			<a href="/login"><button id="homeLogin">LOGIN</button></a>

	</div>
	
	<div class="homeContent">
		
		<h1 class="homeHeader">Solutions for <br>common issues.</h1>
		
		<p class="homeP"><span class="tab">Use</span> this guide to help diagnose and solve many of the most common technological issues users may experience.</p>
		
		<a href="/gadmin"><button id="theGoogs">CLICK HERE FOR GOOGLE ADMIN CREDENTIALS</button></a>
		
	</div>

<% include partials/footer %>
