<% include partials/header %>

<div class="login">

    <h1>LOGIN</h1>

        <form action="/login" method="POST">
            
            <input type="text" name="username" placeholder="username" id="formField">
            
            <br> <br>
            
            <input type="password" name="password" placeholder="password" id="formField">
            
             <br> <br>
            
            <button>LOGIN</button>  
            
        </form>
    
</div>

<% include partials/footer %>
