<% include partials/header %>

	<div class="headDiv">
	
		<p class="banner">TECHNOLOGY SOLUTIONS</p>
		
        <a href="/logout"><button id="homeLogin">LOGOUT</button></a>
        
        <a href="/register"><button id="admin">ADMIN</button></a>

	</div>
	
	<div class="indexContent">
		
		<h2 class="pageHeader">INDEX</h2></div>
		
	</div>
		
	<div class="nav">
    
        <a href="">
            <img src="AC.png" id="pic" class="marginator">
        </a>
        <a href="">
            <img src="HD.png" id="pic" class="marginator">
        </a>
        <a href="">
            <img src="TS.png" id="pic" class="marginator">
        </a>
        <a href="">
            <img src="OF.png" id="pic" class="marginator">
        </a>
        <a href="">
            <img src="TP.png" id="pic" class="marginator">
        </a>
        
	</div>
	
	<div class="nav2">
	
	    <a href="#levelVeryCommon">
            <img id="picBlue" class="marginator2">
        </a> 
        <a href="#levelCommon">
            <img id="picGreen" class="marginator2">
        </a>
        <a href="#levelRebootMightNotWork">
            <img id="picYellow" class="marginator2">
        </a>
        <a href="#levelJustGoHome">
            <img id="picOrange" class="marginator2">
        </a>
        <a href="#levelItsOnFire">
            <img id="picRed" class="marginator2">
        </a>
        
    </div>
	
	<div>
		
		<p></p>	
		
	</div>
	
	<div class="pageContent">
		
			<p class="levelVeryCommon" id="levelVeryCommon">VERY COMMON</p>
		
			<a href="/cookies">
				
			<img src="cookie.PNG" class="cookies">
			
			COOKIES: How to delete cookies, why delete cookies and what are
			cookies. 
			
			Continue Reading...
			
			</div></a> <br>
			
			
			<p class="levelCommon" id="levelCommon">COMMON</p>
			
			<a href="/cookies">
				
			<img src="outlook.jpg" class="cookies">
			
			OUTLOOK BLAH BLAH: Don't use Outlook.
			
			</div></a> <br>
			
			
			<p class="levelRebootMightNotWork" id="levelRebootMightNotWork">REBOOT MIGHT NOT WORK</p>
			
			<a href="/cookies">
				
			<img src="panic.PNG" class="cookies">
			
			KERNEL PANIC: If you did not see it then it did not happen.
			
			</div></a> <br>
			
			
			<p class="levelJustGoHome" id="levelJustGoHome">JUST GO HOME</p>
			
			<a href="/cookies">
				
			<img src="logs.png" class="cookies">
			
			I CAN'T LOGIN: To what?
			
			</div></a> <br>
			
			
			<p class="levelItsOnFire" id="levelItsOnFire">IT'S ON FIRE!</p>
			
			<a href="/cookies">
				
			<img src="off.jpg" class="cookies">
			
			MY COMPUTER WON'T TURN ON: Is it plugged in?
			
			</div></a> <br>
			
			<br><br><br>

<% include partials/footer %>