<% include partials/header %>

	<div class="headDiv">
	
		<p class="banner">TECHNOLOGY SOLUTIONS</p>
		
        <a href="/logout"><button id="homeLogin">LOGOUT</button></a>

	</div>
	
	<div class="pageContent">
		
		<h2 class="pageHeader">INDEX</h2></div>
		
			<p class="levelVeryCommon">VERY COMMON</p>
		
			<a href="/cookies">
				
			<img src="cookie.PNG" class="cookies">
			
			COOKIES: How to delete cookies, why delete cookies and what are
			cookies. 
			
			Continue Reading...
			
			</div></a> <br>
			
			<p class="levelCommon">COMMON</p>
			
			<p class="levelRebootMightNotWork">Reboot Might Not Work</p>
			
			<p class="levelJustGoHome">Just Go Home</p>
			
			<p class="levelItsOnFire">It's on Fire!</p>

<% include partials/footer %>