<% include partials/header %>

<div class="register">
    
    <h1 id="black">ADD USER</h1>
    
    <p id="black">To add a user enter their new username in the first box and their new password in the second then hit submit.</p>

        <form action="/register" method="POST">
            
            <input type="text" name="username" placeholder="username" id="formField">
            
            <input type="password" name="password" placeholder="password" id="formField">
            
            <button>SUBMIT</button>
            
        </form>
    
    <a href="/main"><button>INDEX</button></a>
    
</div>

<% include partials/footer %>